{"openapi":"3.1.0","info":{"title":"Deefy API","description":"Documentacao navegavel da API Deefy.\n\nFluxo de teste recomendado:\n1. Use POST /api/v1/auth/login para obter o JWT.\n2. Clique em Authorize no Swagger.\n3. Informe o token no formato: Bearer <token>.\n\nModulos ainda sem endpoint publico na staging atual:\nRating e History.\n\nFavorites esta disponivel para musicas, artistas e generos.\n","license":{"name":"Projeto academico"},"version":"1.0.0"},"servers":[{"url":"https://deefy.olua.me","description":"Producao/Staging publica"},{"url":"http://localhost:8080","description":"Backend local"}],"tags":[{"name":"Favorites","description":"Favoritos de musicas, artistas e generos do usuario autenticado"},{"name":"Genres","description":"Catalogo de generos/lancamentos conforme contrato atual do banco"},{"name":"Storage","description":"Uploads administrativos para Supabase Storage"},{"name":"Artists","description":"Cadastro e consulta de artistas do catalogo"},{"name":"Albums compatibility","description":"Compatibilidade temporaria do frontend: albuns sao mapeados para genero/lancamento"},{"name":"Playlist","description":"Playlists do usuario autenticado e suas faixas"},{"name":"User/Profile","description":"Usuarios e perfil do usuario autenticado"},{"name":"History","description":"Historico de musicas do usuario autenticado"},{"name":"Auth","description":"Cadastro, login, ativacao de conta e recuperacao de senha"},{"name":"Music","description":"Catalogo de musicas e URLs de audio/imagem"}],"paths":{"/api/v1/users/{id}":{"get":{"tags":["User/Profile"],"summary":"Buscar usuario por ID","description":"Retorna os dados publicos de um usuario pelo ID.","operationId":"findUserById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["User/Profile"],"summary":"Atualizar usuario pelo admin","description":"Atualiza nome, e-mail e role quando solicitado pela tela administrativa.","operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUserUpdateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["User/Profile"],"summary":"Excluir usuario pelo admin","description":"Remove o usuario quando o banco permitir a exclusao sem violar relacionamentos.","operationId":"deleteUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/playlists/{id}":{"get":{"tags":["Playlist"],"summary":"Buscar playlist por ID","description":"Retorna uma playlist especifica do usuario autenticado.","operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaylistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Playlist"],"summary":"Atualizar playlist","description":"Atualiza nome e visibilidade da playlist.","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaylistRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaylistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Playlist"],"summary":"Excluir playlist","description":"Exclui uma playlist do usuario autenticado.","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/musics/{id}":{"get":{"tags":["Music"],"summary":"Buscar musica por ID","description":"Retorna detalhes de uma musica, incluindo fileUrl para playback.","operationId":"findMusicById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MusicDetailResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["Music"],"summary":"Atualizar musica","description":"Atualiza metadados e URLs de uma musica existente.","operationId":"updateMusic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MusicRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MusicDetailResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Music"],"summary":"Excluir musica","description":"Remove uma musica do catalogo.","operationId":"deleteMusic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me/photo/upload":{"post":{"tags":["User/Profile"],"summary":"Enviar minha foto de perfil","description":"Envia uma imagem para o Storage e salva a URL publica em fotoperfilurl.","operationId":"uploadMyProfilePhoto","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/storage/image":{"post":{"tags":["Storage"],"summary":"Enviar imagem","description":"Faz upload de imagem para o bucket publico de imagens e retorna a URL.","operationId":"uploadImage","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StorageUploadResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/storage/audio":{"post":{"tags":["Storage"],"summary":"Enviar audio","description":"Faz upload de audio para o bucket publico de musicas e retorna a URL.","operationId":"uploadAudio","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StorageUploadResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/playlists":{"get":{"tags":["Playlist"],"summary":"Listar playlists do usuario","description":"Retorna as playlists pertencentes ao usuario autenticado.","operationId":"listAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlaylistResponseDTO"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Playlist"],"summary":"Criar playlist","description":"Cria uma playlist para o usuario autenticado pelo JWT.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaylistRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaylistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/playlists/{playlistId}/tracks/{musicId}":{"post":{"tags":["Playlist"],"summary":"Adicionar musica na playlist","description":"Inclui uma musica existente em uma playlist do usuario autenticado.","operationId":"addMusic","parameters":[{"name":"playlistId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"musicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaylistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Playlist"],"summary":"Remover musica da playlist","description":"Remove uma musica de uma playlist do usuario autenticado.","operationId":"removeMusic","parameters":[{"name":"playlistId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"musicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/musics":{"get":{"tags":["Music"],"summary":"Listar musicas","description":"Retorna musicas paginadas para home, busca e player.","operationId":"findAllMusic","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMusicListResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Music"],"summary":"Criar musica","description":"Cria uma musica usando metadados e URLs ja publicas do storage.","operationId":"createMusic","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MusicRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MusicDetailResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/history":{"post":{"tags":["History"],"operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListeningHistoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListeningHistoryResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/genres":{"get":{"tags":["Genres"],"summary":"Listar generos","description":"Retorna generos paginados para selects e painel admin.","operationId":"findAll","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAdminGenreResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Genres"],"summary":"Criar genero","description":"Cria genero usando o artista informado ou o primeiro artista existente quando o frontend envia apenas o nome.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenreRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminGenreResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/musics/{musicId}":{"post":{"tags":["Favorites"],"summary":"Favoritar musica","description":"Adiciona uma musica aos favoritos do usuario autenticado sem duplicar registros.","operationId":"favoritarMusica","parameters":[{"name":"musicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavoriteMusicResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Favorites"],"summary":"Remover musica dos favoritos","description":"Remove uma musica dos favoritos do usuario autenticado.","operationId":"desfavoritarMusica","parameters":[{"name":"musicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/genres/{genreId}":{"post":{"tags":["Favorites"],"summary":"Favoritar genero","description":"Adiciona um genero aos favoritos do usuario autenticado sem duplicar registros.","operationId":"favoritarGenero","parameters":[{"name":"genreId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavoriteGenreResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Favorites"],"summary":"Remover genero dos favoritos","description":"Remove um genero dos favoritos do usuario autenticado.","operationId":"desfavoritarGenero","parameters":[{"name":"genreId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/artists/{artistId}":{"post":{"tags":["Favorites"],"summary":"Favoritar artista","description":"Adiciona um artista aos favoritos do usuario autenticado sem duplicar registros.","operationId":"favoritarArtista","parameters":[{"name":"artistId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavoriteArtistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Favorites"],"summary":"Remover artista dos favoritos","description":"Remove um artista dos favoritos do usuario autenticado.","operationId":"desfavoritarArtista","parameters":[{"name":"artistId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/auth/verify-account":{"post":{"tags":["Auth"],"summary":"Ativar conta","description":"Recebe o token enviado por e-mail e ativa a conta do usuario.","operationId":"verifyAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivateAccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/auth/reset-password":{"post":{"tags":["Auth"],"summary":"Redefinir senha","description":"Recebe token de recuperacao e nova senha.","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/auth/register":{"post":{"tags":["Auth"],"summary":"Cadastrar usuario","description":"Cria um cadastro pendente e dispara e-mail de ativacao.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDTO"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth"],"summary":"Autenticar usuario","description":"Retorna um JWT para uso no botao Authorize do Swagger.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponseDTO"}}}}}}},"/api/v1/auth/forgot-password":{"post":{"tags":["Auth"],"summary":"Solicitar recuperacao de senha","description":"Envia e-mail com link de redefinicao quando o e-mail existir.","operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/artists":{"get":{"tags":["Artists"],"summary":"Listar artistas","description":"Retorna artistas paginados para catalogo e painel admin.","operationId":"findAll_1","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAdminArtistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Artists"],"summary":"Criar artista","description":"Cria artista usando nome, bio e URL publica de foto quando enviada.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtistRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminArtistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/albums":{"get":{"tags":["Albums compatibility"],"summary":"Listar albuns compativeis","description":"Retorna registros de genero no formato esperado pelo frontend de albuns.","operationId":"findAll_2","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAdminGenreResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Albums compatibility"],"summary":"Criar album compativel","description":"Salva o registro na tabela genero, sem criar tabela nova.","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenreRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminGenreResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/{id}/role":{"patch":{"tags":["User/Profile"],"summary":"Alterar role do usuario","description":"Atualiza perfil_id conforme os perfis existentes no banco.","operationId":"setUserRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUserRoleRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/{id}/ban":{"patch":{"tags":["User/Profile"],"summary":"Banir/desbanir usuario","description":"Endpoint compatível com o painel admin; banimento persistente depende de coluna propria no banco.","operationId":"setBanStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUserBanRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me/photo":{"delete":{"tags":["User/Profile"],"summary":"Remover minha foto de perfil","description":"Remove a URL da foto de perfil do usuario autenticado.","operationId":"removeMyProfilePhoto","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["User/Profile"],"summary":"Atualizar minha foto de perfil","description":"Salva a URL publica da foto de perfil do usuario autenticado.","operationId":"updateMyProfilePhoto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfilePhotoRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me/password":{"patch":{"tags":["User/Profile"],"summary":"Alterar minha senha","description":"Altera a senha do usuario autenticado validando a senha atual.","operationId":"changeMyPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me/name":{"patch":{"tags":["User/Profile"],"summary":"Atualizar meu nome","description":"Atualiza o nome do usuario autenticado pelo JWT.","operationId":"updateMyName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNameRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users":{"get":{"tags":["User/Profile"],"summary":"Listar usuarios","description":"Retorna usuarios paginados.","operationId":"findAllUsers","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAdminUserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/stats":{"get":{"tags":["User/Profile"],"summary":"Estatisticas administrativas de usuarios","description":"Retorna agregados usados pela tela /admin/users sem exigir novas colunas no banco.","operationId":"getUserStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminUserStatsResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/users/me":{"get":{"tags":["User/Profile"],"summary":"Buscar meu perfil","description":"Retorna o perfil do usuario autenticado pelo JWT.","operationId":"getMyProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/musics/search/title":{"get":{"tags":["Music"],"summary":"Buscar musicas por titulo","description":"Pesquisa paginada por titulo da musica.","operationId":"searchByTitle","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMusicListResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/musics/search/artist":{"get":{"tags":["Music"],"summary":"Buscar musicas por artista","description":"Pesquisa paginada por nome de artista quando os metadados estiverem vinculados.","operationId":"searchByArtist","parameters":[{"name":"artist","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMusicListResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/musics/random":{"get":{"tags":["Music"],"summary":"Listar musicas aleatorias","description":"Compatibilidade com o frontend: retorna uma lista embaralhada de musicas para a home.","operationId":"findRandomMusic","parameters":[{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":12}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MusicListResponseDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/history/{id}":{"get":{"tags":["History"],"operationId":"findAll_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageListeningHistoryResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/genres/{id}":{"get":{"tags":["Genres"],"summary":"Buscar genero por ID","operationId":"findById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminGenreResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Genres"],"summary":"Excluir genero","description":"Remove genero quando nao houver dependencias no banco.","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/musics":{"get":{"tags":["Favorites"],"summary":"Listar musicas favoritas","description":"Retorna as musicas favoritadas pelo usuario autenticado.","operationId":"listarMusicasFavoritas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteMusicResponseDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/musics/{musicId}/status":{"get":{"tags":["Favorites"],"summary":"Consultar status de musica favorita","description":"Informa se uma musica ja esta favoritada pelo usuario autenticado.","operationId":"buscarStatusFavoritoMusica","parameters":[{"name":"musicId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavoriteStatusResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/genres":{"get":{"tags":["Favorites"],"summary":"Listar generos favoritos","description":"Retorna os generos favoritados pelo usuario autenticado.","operationId":"listarGenerosFavoritos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteGenreResponseDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/genres/{genreId}/status":{"get":{"tags":["Favorites"],"summary":"Consultar status de genero favorito","description":"Informa se um genero ja esta favoritado pelo usuario autenticado.","operationId":"buscarStatusFavoritoGenero","parameters":[{"name":"genreId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavoriteStatusResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/artists":{"get":{"tags":["Favorites"],"summary":"Listar artistas favoritos","description":"Retorna os artistas favoritados pelo usuario autenticado.","operationId":"listarArtistasFavoritos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteArtistResponseDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/favorites/artists/{artistId}/status":{"get":{"tags":["Favorites"],"summary":"Consultar status de artista favorito","description":"Informa se um artista ja esta favoritado pelo usuario autenticado.","operationId":"buscarStatusFavoritoArtista","parameters":[{"name":"artistId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FavoriteStatusResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/artists/{id}":{"get":{"tags":["Artists"],"summary":"Buscar artista por ID","operationId":"findById_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminArtistResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Artists"],"summary":"Excluir artista","description":"Remove artista quando nao houver musicas, generos ou outros vinculos associados.","operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"AdminUserUpdateRequestDTO":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"},"role":{"type":"string"}}},"AdminUserResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"nome":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"},"role":{"type":"string"},"photoUrl":{"type":"string"},"fotoPerfilUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"banned":{"type":"boolean"},"deleted":{"type":"boolean"},"online":{"type":"boolean"},"status":{"type":"string"}}},"PlaylistRequestDTO":{"type":"object","properties":{"name":{"type":"string","minLength":1},"publica":{"type":"boolean"}},"required":["name"]},"AlbumResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"titulo":{"type":"string"},"capaUrl":{"type":"string"},"dataLancamento":{"type":"string","format":"date"}}},"ArtistaResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"bio":{"type":"string"},"fotoUrl":{"type":"string"}}},"MusicDetailsResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"titulo":{"type":"string"},"genero":{"type":"string"},"duracaoSegundos":{"type":"integer","format":"int32"},"previewUrl":{"type":"string"},"capaUrl":{"type":"string"},"arquivoUrl":{"type":"string"},"artista":{"$ref":"#/components/schemas/ArtistaResponseDTO"},"album":{"$ref":"#/components/schemas/AlbumResponseDTO"}}},"PlaylistResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"publica":{"type":"boolean"},"dataCriacao":{"type":"string","format":"date-time"},"tracks":{"type":"array","items":{"$ref":"#/components/schemas/MusicDetailsResponseDTO"}}}},"MusicRequestDTO":{"type":"object","properties":{"title":{"type":"string","minLength":1},"genre":{"type":"string","maxLength":100,"minLength":0},"durationSeconds":{"type":"integer","format":"int32"},"previewUrl":{"type":"string"},"coverUrl":{"type":"string"},"fileUrl":{"type":"string"},"artistId":{"type":"integer","format":"int64"}},"required":["artistId","durationSeconds","genre","title"]},"MusicDetailResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"artist":{"type":"string"},"album":{"type":"string"},"genre":{"type":"string"},"durationSeconds":{"type":"integer","format":"int32"},"coverUrl":{"type":"string"},"previewUrl":{"type":"string"},"fileUrl":{"type":"string"},"dataLancamento":{"type":"string","format":"date"}}},"UserResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"email":{"type":"string"},"fotoPerfilUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"StorageUploadResponseDTO":{"type":"object","properties":{"url":{"type":"string"}}},"ListeningHistoryRequest":{"type":"object","properties":{"musicId":{"type":"integer","format":"int64"}},"required":["musicId"]},"ListeningHistoryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"musicId":{"type":"integer","format":"int64"},"dataHoraExecucao":{"type":"string","format":"date-time"}}},"GenreRequestDTO":{"type":"object","properties":{"name":{"type":"string"},"coverUrl":{"type":"string"},"releaseDate":{"type":"string","format":"date"},"artistId":{"type":"integer","format":"int64"}}},"AdminGenreResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"title":{"type":"string"},"titulo":{"type":"string"},"coverUrl":{"type":"string"},"capaUrl":{"type":"string"},"releaseDate":{"type":"string","format":"date"},"dataLancamento":{"type":"string","format":"date"},"artistId":{"type":"integer","format":"int64"},"artistaId":{"type":"integer","format":"int64"},"artistName":{"type":"string"},"nomeArtista":{"type":"string"}}},"FavoriteMusicResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"favoritadoEm":{"type":"string","format":"date-time"},"musica":{"$ref":"#/components/schemas/MusicListResponseDTO"}}},"MusicListResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"type":"string"},"artist":{"type":"string"},"album":{"type":"string"},"durationSeconds":{"type":"integer","format":"int32"},"duration":{"type":"string"},"coverUrl":{"type":"string"},"previewUrl":{"type":"string"},"fileUrl":{"type":"string"}}},"FavoriteGenreResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"favoritadoEm":{"type":"string","format":"date-time"},"genero":{"$ref":"#/components/schemas/GenreResponseDTO"}}},"GenreResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"titulo":{"type":"string"},"capaUrl":{"type":"string"},"dataLancamento":{"type":"string","format":"date"},"artistaId":{"type":"integer","format":"int64"},"nomeArtista":{"type":"string"}}},"FavoriteArtistResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"favoritadoEm":{"type":"string","format":"date-time"},"artista":{"$ref":"#/components/schemas/ArtistaResponseDTO"}}},"ActivateAccountRequestDTO":{"type":"object","properties":{"token":{"type":"string","minLength":1}},"required":["token"]},"ResetPasswordRequestDTO":{"type":"object","properties":{"token":{"type":"string","minLength":1},"novaSenha":{"type":"string","maxLength":2147483647,"minLength":6}},"required":["novaSenha","token"]},"UserRequestDTO":{"type":"object","properties":{"nome":{"type":"string","minLength":1},"email":{"type":"string","minLength":1},"senha":{"type":"string","maxLength":2147483647,"minLength":6}},"required":["email","nome","senha"]},"AuthRequestDTO":{"type":"object","properties":{"email":{"type":"string","minLength":1},"senha":{"type":"string","minLength":1}},"required":["email","senha"]},"AuthResponseDTO":{"type":"object","properties":{"token":{"type":"string"}}},"ForgotPasswordRequestDTO":{"type":"object","properties":{"email":{"type":"string","minLength":1}},"required":["email"]},"ArtistRequestDTO":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":0},"bio":{"type":"string"},"photoUrl":{"type":"string"}},"required":["name"]},"AdminArtistResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"nome":{"type":"string"},"bio":{"type":"string"},"photoUrl":{"type":"string"},"fotoUrl":{"type":"string"}}},"AdminUserRoleRequestDTO":{"type":"object","properties":{"role":{"type":"string"}}},"AdminUserBanRequestDTO":{"type":"object","properties":{"banned":{"type":"boolean"}}},"UpdateProfilePhotoRequestDTO":{"type":"object","properties":{"fotoPerfilUrl":{"type":"string","minLength":1}},"required":["fotoPerfilUrl"]},"ChangePasswordRequestDTO":{"type":"object","properties":{"senhaAtual":{"type":"string","minLength":1},"novaSenha":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["novaSenha","senhaAtual"]},"UpdateNameRequestDTO":{"type":"object","properties":{"nome":{"type":"string","minLength":1}},"required":["nome"]},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"PageAdminUserResponseDTO":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminUserResponseDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"empty":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"AdminUserStatsResponseDTO":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"active":{"type":"integer","format":"int64"},"banned":{"type":"integer","format":"int64"},"newThisMonth":{"type":"integer","format":"int64"},"admins":{"type":"integer","format":"int64"},"deleted":{"type":"integer","format":"int64"},"offline":{"type":"integer","format":"int64"},"online":{"type":"integer","format":"int64"}}},"PageMusicListResponseDTO":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/MusicListResponseDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageListeningHistoryResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ListeningHistoryResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageAdminGenreResponseDTO":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminGenreResponseDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"FavoriteStatusResponseDTO":{"type":"object","properties":{"recursoId":{"type":"integer","format":"int64"},"tipoRecurso":{"type":"string"},"favoritado":{"type":"boolean"}}},"PageAdminArtistResponseDTO":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminArtistResponseDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"Authorization","scheme":"bearer","bearerFormat":"JWT"}}}}