h1 {
  color: white;
}

.sidebar {
  background-color: black;
}

.sidebar-logo {
  padding: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-logo img {
  width: 100px;
  max-width: 60%;
  height: auto;
}

.contents {
  color: rgb(255, 255, 255) !important;
  text-align: left !important;
}